.card-body p {
    white-space: nowrap;       /* Không xuống dòng */
    overflow: hidden;          /* Ẩn nội dung vượt quá khung */
    text-overflow: ellipsis;   /* Hiển thị "..." khi quá dài */
}

.hover-zoom {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.1); /* Phóng to 10% */
    z-index: 10; /* Đưa card lên trên để không làm ảnh hưởng item khác */
}
  