.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.dropdown-menu {
    min-width: 180px; /* Đặt chiều rộng */
    background-color: #d6b980; /* Màu nền vàng nhạt */
    border: none; /* Xóa viền */
    box-shadow: none; /* Xóa đổ bóng */
    padding: 0; /* Xóa padding mặc định */
}

.dropdown-item {
    color: black; /* Màu chữ */
    font-weight: normal;
    padding: 10px 15px; /* Tạo khoảng cách đẹp hơn */
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Màu xám nhạt khi hover */
}

.bg-header {
    background-color: #d6b980; /* Màu nền vàng nhạt */
}
